// ==================================
// パスワード再設定
// ==================================
.p-main__passRemindSend {
  width: 70%;
  margin: 0 auto;
  margin-top: $space_xxl;
}

.p-passRemindSend__title {
  text-align: center;
  font-size: $font-size_xxl;
  margin-bottom: $space_l;
}

.p-passRemindSend__description {
  margin-bottom: $space_xxl;
}

