// ==============================
// margin-top
// ==============================
.u-mt--s {
  margin-top: $space_s;
}

.u-mt--m {
  margin-top: $space_m;
}

.u-mt--l {
  margin-top: $space_l;
}

.u-mt--xl {
  margin-top: $space_xl;
}

.u-mt--xxl {
  margin-top: $space_xxl;
}

.u-mt--3l {
  margin-top: $space_3l;
}

.u-mt--4l {
  margin-top: $space_4l;
}

.u-mt--5l {
  margin-top: $space_5l;
}

// ==============================
// margin-right
// ==============================
.u-mr--s {
  margin-right: $space_s;
}

.u-mr--m {
  margin-right: $space_m;
}

.u-mr--l {
  margin-right: $space_l;
}

.u-mr--xl {
  margin-right: $space_xl;
}

.u-mr--xxl {
  margin-right: $space_xxl;
}

.u-mr--3l {
  margin-right: $space_3l;
}

.u-mr--4l {
  margin-right: $space_4l;
}

.u-mr--5l {
  margin-right: $space_5l;
}

// ==============================
// margin-bottom
// ==============================
.u-mb--s {
  margin-bottom: $space_s;
}

.u-mb--m {
  margin-bottom: $space_m;
}

.u-mb--l {
  margin-bottom: $space_l;
}

.u-mb--xl {
  margin-bottom: $space_xl;
}

.u-mb--xxl {
  margin-bottom: $space_xxl;
}

.u-mb--3l {
  margin-bottom: $space_3l;
}

.u-mb--4l {
  margin-bottom: $space_4l;
}

.u-mb--5l {
  margin-bottom: $space_5l;
}
// ==============================
// margin-left
// ==============================
.u-ml--s {
  margin-left: $space_s;
}

.u-ml--m {
  margin-left: $space_m;
}

.u-ml--l {
  margin-left: $space_l;
}

.u-ml--xl {
  margin-left: $space_xl;
}

.u-ml--xxl {
  margin-left: $space_xxl;
}

.u-ml--3l {
  margin-left: $space_3l;
}

.u-ml--4l {
  margin-left: $space_4l;
}

.u-ml--5l {
  margin-left: $space_5l;
}

// ==============================
// margin-left + margin-right
// ==============================
.u-mx--s {
  margin-left: $space_s;
  margin-right: $space_s;
}

.u-mx--m {
  margin-left: $space_m;
  margin-right: $space_m;
}

.u-mx--l {
  margin-left: $space_l;
  margin-right: $space_l;
}

.u-mx--xl {
  margin-left: $space_xl;
  margin-right: $space_xl;
}

.u-mx--xxl {
  margin-left: $space_xxl;
  margin-right: $space_xxl;
}

.u-mx--3l {
  margin-left: $space_3l;
  margin-right: $space_3l;
}

.u-mx--4l {
  margin-left: $space_4l;
  margin-right: $space_4l;
}

.u-mx--5l {
  margin-left: $space_5l;
  margin-right: $space_5l;
}

// ==============================
// margin-top + margin-bottom
// ==============================
.u-my--s {
  margin-top: $space_s;
  margin-bottom: $space_s;
}

.u-my--m {
  margin-top: $space_m;
  margin-bottom: $space_m;
}

.u-my--l {
  margin-top: $space_l;
  margin-bottom: $space_l;
}

.u-my--xl {
  margin-top: $space_xl;
  margin-bottom: $space_xl;
}

.u-my--xxl {
  margin-top: $space_xxl;
  margin-bottom: $space_xxl;
}

.u-my--3l {
  margin-top: $space_3l;
  margin-bottom: $space_3l;
}

.u-my--4l {
  margin-top: $space_4l;
  margin-bottom: $space_4l;
}

.u-my--5l {
  margin-top: $space_5l;
  margin-bottom: $space_5l;
}


// ==============================
// margin: 0 auto
// ==============================
.u-ma {
  margin: 0 auto;
}