// ==============================
// padding-top
// ==============================
.u-pt--s {
  padding-top: $space_s;
}

.u-pt--m {
  padding-top: $space_m;
}

.u-pt--l {
  padding-top: $space_l;
}

.u-pt--xl {
  padding-top: $space_xl;
}

.u-pt--xxl {
  padding-top: $space_xxl;
}

.u-pt--3l {
  padding-top: $space_3l;
}

.u-pt--4l {
  padding-top: $space_4l;
}

.u-pt--5l {
  padding-top: $space_5l;
}

// ==============================
// padding-right
// ==============================
.u-pr--s {
  padding-right: $space_s;
}

.u-pr--m {
  padding-right: $space_m;
}

.u-pr--l {
  padding-right: $space_l;
}

.u-pr--xl {
  padding-right: $space_xl;
}

.u-pr--xxl {
  padding-right: $space_xxl;
}

.u-pr--3l {
  padding-right: $space_3l;
}

.u-pr--4l {
  padding-right: $space_4l;
}

.u-pr--5l {
  padding-right: $space_5l;
}

// ==============================
// padding-bottom
// ==============================
.u-pb--s {
  padding-bottom: $space_s;
}

.u-pb--m {
  padding-bottom: $space_m;
}

.u-pb--l {
  padding-bottom: $space_l;
}

.u-pb--xl {
  padding-bottom: $space_xl;
}

.u-pb--xxl {
  padding-bottom: $space_xxl;
}

.u-pb--3l {
  padding-bottom: $space_3l;
}

.u-pb--4l {
  padding-bottom: $space_4l;
}

.u-pb--5l {
  padding-bottom: $space_5l;
}
// ==============================
// padding-left
// ==============================
.u-pl--s {
  padding-left: $space_s;
}

.u-pl--m {
  padding-left: $space_m;
}

.u-pl--l {
  padding-left: $space_l;
}

.u-pl--xl {
  padding-left: $space_xl;
}

.u-pl--xxl {
  padding-left: $space_xxl;
}

.u-pl--3l {
  padding-left: $space_3l;
}

.u-pl--4l {
  padding-left: $space_4l;
}

.u-pl--5l {
  padding-left: $space_5l;
}

// ==============================
// padding-left + padding-right
// ==============================
.u-px--s {
  padding-left: $space_s;
  padding-right: $space_s;
}

.u-px--m {
  padding-left: $space_m;
  padding-right: $space_m;
}

.u-px--l {
  padding-left: $space_l;
  padding-right: $space_l;
}

.u-px--xl {
  padding-left: $space_xl;
  padding-right: $space_xl;
}

.u-px--xxl {
  padding-left: $space_xxl;
  padding-right: $space_xxl;
}

.u-px--3l {
  padding-left: $space_3l;
  padding-right: $space_3l;
}

.u-px--4l {
  padding-left: $space_4l;
  padding-right: $space_4l;
}

.u-px--5l {
  padding-left: $space_5l;
  padding-right: $space_5l;
}

// ==============================
// padding-top + padding-bottom
// ==============================
.u-py--s {
  padding-top: $space_s;
  padding-bottom: $space_s;
}

.u-py--m {
  padding-top: $space_m;
  padding-bottom: $space_m;
}

.u-py--l {
  padding-top: $space_l;
  padding-bottom: $space_l;
}

.u-py--xl {
  padding-top: $space_xl;
  padding-bottom: $space_xl;
}

.u-py--xxl {
  padding-top: $space_xxl;
  padding-bottom: $space_xxl;
}

.u-py--3l {
  padding-top: $space_3l;
  padding-bottom: $space_3l;
}

.u-py--4l {
  padding-top: $space_4l;
  padding-bottom: $space_4l;
}

.u-py--5l {
  padding-top: $space_5l;
  padding-bottom: $space_5l;
}